
/*.profile{*/
/*    width: 100px;*/
/*    border-width: 10px;*/
/*    border-radius: 50px;*/
/*    border-style: solid;*/
/*    border-color: green;*/
/*}*/

#picture{
    width: 100px;
    border-width: 10px;
    border-radius: 50px;
    border-style: solid;
    border-color: green;
}

#day_time{
    width: 50%;
    margin: auto;
}

#mytrack-link{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: inherit;
}